<%- include('partials/header', {title:"P, R, S: Tournament of Champions"}) -%>

<center><h3 id="demo">welcome! today is </h3><center>
<p id="demo"></p>

<script>
const weekday = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];

const d = new Date();
let day = weekday[d.getDay()];
document.getElementById("demo").innerHTML += day.toLowerCase();
</script>
  <br>
  <br>

  <%- include('partials/footer') -%>
